[Unit]
Description=web app run script
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/root/video/run.sh
WorkingDirectory=/root/video/
Type=ont-shot
RemainAfterExit=yes
User=root
Group=root

[Install]
WantedBy=multi-user.target

